* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
ul {
	list-style: none;
}
img {
	width: 100%;
}
button {
	border: none;
}
body {
	padding-top: 80px; /* To prevent content from being hidden behind the fixed header */
}

.container {
	max-width: 1100px;
	width: 100%;
	margin: 0 auto;
	padding: 0 16px;
}
header {
	background-color: darkblue;
	padding: 20px 0;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 100;
}
header a {
	color: white;
}
header li,
header nav {
	display: inline-block;
}
.contact-btn {
	background-color: white;
	padding: 10px 20px;
}
.fixed {
	width: 50px;
	height: 50px;
	background-color: red;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 2;
}
.sticky {
	position: sticky;
	background-color: darkgoldenrod;
	padding: 10px;
	top: 76px;
	left: 0;
	z-index: 1;
}
.parent img {
	height: 400px;
	object-fit: cover;
}
.parent {
	position: relative;
}
.parent h1 {
	position: absolute;
	/* right: 0;
	top: 0; */
	background-color: lightblue;
	padding: 10px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
